@charset "UTF-8";
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  max-height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #7a7762;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  justify-items: stretch;
  align-items: stretch;
}

/*Cabecera*/
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

/*Sección Inicio */
.inicio {
  display: grid;
  grid-area: 1/1/2/4;
  height: 100vh;
  width: 100%;
  align-items: center;
  background-image: url("../assets/img/sillamesamueble.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.inicio .inicio img {
  width: 100%;
}
.inicio .inicio img .inicio span {
  width: 100%;
  position: absolute;
  text-align: center;
  color: white;
}
.inicio .inicio img .inicio span .inicio h1 {
  font-size: 65px;
}
.inicio .inicio img .inicio span .inicio h1 .inicio p {
  font-size: 35px;
}

/*Sección Destacado */
.destacados {
  display: grid;
  grid-area: 2/1/3/4;
  padding: 50px 25px;
}

.destacados article {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  background-color: white;
  margin: 0px 15px;
}

.destacados .productos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.destacados .media {
  height: 500px;
  display: flex;
  border-bottom: 1px solid gray;
}

.destacados article p {
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 15px;
}

.destacados article button {
  padding: 15px;
  margin: 25px;
  cursor: pointer;
}

.destacados article img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Sección Reseñas */
.resenas {
  display: grid;
  grid-area: 3/1/4/4;
}

.resenas .tudecora {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.resenas > div {
  display: flex;
  flex-direction: column;
  border: 1px dashed #ededed;
  margin: 35px;
  text-align: center;
  color: black;
  padding: 15px;
  background-image: url(../assets/img/nordico.jpg);
}

/*Sección Iframe */
.iframe {
  display: grid;
  grid-area: 4/1/4/4;
  padding: 25px;
  justify-content: center;
  overflow: hidden;
}

footer {
  display: flex;
  color: white;
  background-image: linear-gradient(#130303, #7a7762);
  font-size: 14px;
}

i {
  font-size: 1.5rem;
}

.btn {
  background-color: transparent;
  color: #7a7762;
  font-weight: 200px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid #130303;
  border-radius: 32px;
  transform: translate(0);
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

.btn::before {
  content: "";
  position: absolute;
  background: #7a7762;
  width: 8px;
  top: 0;
  bottom: 0;
  left: -32px;
  transform: rotate(-16deg);
  filter: blur(6px);
}

.btn:hover::before {
  left: calc(100% + 32px);
  transition: 0.75s;
}

.container {
  width: 100%;
  display: flex;
  max-width: 1100px;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translatey(-3%);
}

.card-img-top {
  width: 100%;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .tex {
  padding: 15px;
  text-align: center;
}

.card-tex {
  line-height: 1.5;
  color: #6a6a6a;
}

.card-title h5 {
  font-weight: 400;
  margin-bottom: 15px;
}

/*Contacto page*/
.contact-form {
  grid-area: 1/2/2/3;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  padding: 45px;
  margin: 45px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3411764706);
}

.contact-form h3 {
  margin-bottom: 25px;
}

.contact-form .acciones {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  width: 100%;
}

.contact-form button {
  padding: 10px 15px;
}

/*generales*/
.input-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input, textarea {
  padding: 10px;
  margin: 5px 0px 15px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #7a7762;
  border-radius: 30px;
  text-decoration: none;
  color: rgb(37, 35, 35);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 2s;
}

success button:hover {
  height: 10px;
  background-color: #fff;
}

.btn-success {
  background-color: black;
  color: white;
}

.btn-info {
  background-color: white;
  border: 1px solid black;
  color: black;
}

/*Ajustes responsive*/
@media (max-width: 992px) {
  .destacados {
    flex-direction: column;
  }
  .destacados .productos {
    flex-direction: column;
    justify-content: stretch;
  }
  .destacados article {
    margin-bottom: 25px;
    width: 100%;
    margin: 20px 0px;
  }
  .contact-form {
    grid-area: 3/1/4/4;
  }
  .card-img-top {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .resenas > div {
    margin: 25px;
  }
  footer * {
    text-align: center;
  }
}/*# sourceMappingURL=estilos.css.map */